<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" rel="stylesheet" href="styles.css"> -->
    <script src="index.js" defer></script>
    <title>ToDoList</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <a class="logo">
            <!-- <img class="logo-img" src="pictures/to-do-list-icon-min.png" alt="ToDoList" href="/Users/rmyagchenkov/Desktop/Frontend Masters/ToDo list project/main.html"></img> -->
            </a>
            <p class="logo-text">ToDoList</p>
        </header>
        <div class="background"></div>
        <nav>
            <ul class="navigation">
                <div class="navigation-start">
                <li>Tasks</li>
                </div>
                <div class="navigation-end">
                <li>Signup</li>
                <li>Signin</li>
                </div>
            </ul>
        </nav>
        <div class="main-field">

            <div class="add-new-task">Add new task</div>
            <div class="in-progress-tasks">Current tasks</div>
            <div class="completed-tasks">Completed tasks</div>

        </div>

        <footer>
            <p>
                <!-- <a href="http://www.twitter.com" target="_blank"><img src="pictures/twitter1.png" alt="Twitter."></a>
                <a href="http://www.pinterest.com" target="_blank"><img src="pictures/pin2.png" alt="Pinterest."></a>
                <a href="http://www.instagram.com" target="_blank"><img src="pictures/insta4.png" alt="Instagram."></a> -->
            </p>
        </footer>

    </div>

</body>
</html>